.sidebar {
  padding: 25px 15px 10px 15px;
  min-width: 200px;
  & * {
    color: var(--grayish-black-color);
  }

  & .sidebar_menu {
    padding: 0px;
    list-style-type: none;

    & .sidebar_menu_list {
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(235, 234, 234);
      }
      & .sidebar_menu_title {
        display: flex;
        align-items: center;
        gap: 7px;
        // padding-top: 8px;
        padding-bottom: 8px;

        &:not(:last-child) {
          border-bottom: 1px solid rgb(235, 234, 234);
        }

        & .menu_icon {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 500;
          color: var(--gray-color);
        }

        & .menu_name {
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
        }
      }
      .sidebar_sub_menu {
        margin-left: 15px;
        padding: 0px;
        list-style-type: none;

        & .sidebar_sub_menu_list {
          cursor: pointer;
          &:not(:last-child) {
            border-bottom: 1px solid rgb(235, 234, 234);
          }

          & .sidebar_sub_menu_title {
            display: flex;
            align-items: center;
            gap: 7px;
            padding-top: 10px;
            padding-bottom: 10px;

            & .menu_icon {
              display: flex;
              align-items: center;
              font-size: 15px;
              font-weight: 500;
              color: var(--gray-color);
            }

            & .menu_name {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// style for collapsed sidebar start

.collapsed_sidebar {
  min-width: unset;
  width: fit-content;
  & .sidebar_menu {
    & .sidebar_menu_list {
      position: relative;
      &:has(.active) {
        &::before {
          content: "";
          position: absolute;
          left: -15px;
          top: -7px;
          height: 120%;
          width: 2.5px;
          background-color: var(--primary-color);
        }
      }

      & .sidebar_menu_title {
        & .menu_name {
          transition: all 0.4s ease-in-out;
          display: none;
        }
      }
      .sidebar_sub_menu {
        transition: all 0.4s ease-in-out;
        display: none;
      }
    }
  }
}
// style for collapsed sidebar end

// style for active menu start

.sidebar_menu_list:has(.active) {
  .sidebar_menu_title {
    & .menu_icon,
    & .menu_name {
      color: var(--primary-color) !important;
    }
  }
}
.active {
  & .menu_icon,
  & .menu_name {
    color: var(--primary-color) !important;
  }
}
// style for active menu end
